<!-- <div class="row" style="padding-left:30px; padding: 15px;">
	<div class="col-xs-7">
		<app-main-menu></app-main-menu>		
	</div>
	<div class="col-xs-1">
		<span></span>
	</div>
	<div class="col-xs-4">
		<app-account-menu></app-account-menu>
	</div>
</div> -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="cursor:pointer" routerLink="/">Imagine</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
      	<a style="cursor:pointer" routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active">
      	<a style="cursor:pointer" routerLink="/imagine">What is Imagine</a>
      </li>
      <li routerLinkActive="active">
      	<a style="cursor:pointer" routerLink="/ideas">Ideas</a>
      </li>
      <li routerLinkActive="active">
      	<a style="cursor:pointer" routerLink="/contribute">Contribute</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a style="cursor:pointer" routerLink="/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a style="cursor:pointer" routerLink="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>